<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMeet-Clone</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f141c7fb9d.js" crossorigin="anonymous"></script>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <!--Defer means it will be loaded last either we can add this script tag at the end of body or as an alternative we can add attribute defer to it-->
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

</head>

<body>
    <div class="main">
        <div class="video-section">
            <div class="video-window">
                <div id="video-grid">
                </div>
            </div>
            <div class="control-window">
                <div class="date-time">
                    <span></span>
                </div>
                <div class="control-block">
                    <div class="unmute control-button" onclick="muteUnmute()">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <div class="play control-button" onclick="playStop()">
                        <i class="fa-solid fa-video"></i>
                    </div>
                    <div class="control-button">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="control-button">
                        <i class="fa-solid fa-user-plus"></i>
                    </div>
                    <div class="control-button" onclick="startScreenSharing()">
                        <i class="fa-solid fa-tv"></i>
                    </div>
                    <div class="control-button">
                        <i class="fa-solid fa-message"></i>
                    </div>
                </div>
                <div class="control-block">
                    <div class="control-button leave-button">
                        <i class="fa-solid fa-phone-slash"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-section">
            <div class="header">
                <h5>Chat</h5>
            </div>
            <div class="chat-window">
                
            </div>
            <div class="message-container">
                <input type="text" id="chat-message" placeholder="Type message here...">
                <div class="send-button">
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="date-time.js"></script>
    <script src="script.js"></script>
</body>

</html>